<!-- Footer -->
<mat-toolbar color="primary" class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <!-- <img
          class="footer-logo"
          src="../../assets/img/icons/citi_1c_rev_rgb_zrT_icon.ico"
          alt="Citi icon"
        /> -->
        <p>
          <a href="http://www.citigroup.com/citi/">Citigroup.com</a> is the
          global source of information about and access to financial services
          provided by the Citigroup companies.
        </p>
      </div>
      <div class="col-md-2 text-right">
        <p>Copyright © 2019 Citigroup Inc.</p>
      </div>
    </div>
  </div>
</mat-toolbar>
<!-- Footer -->
<!-- <mat-toolbar>
  <footer class="docs-footer">
    <div class="docs-footer-list">
      <div class="docs-footer-logo">
        <div class="footer-logo">
          <span><a href="https://angular.io">Learn Angular</a></span>
        </div>
      </div>

      <div class="docs-footer-copyright">
        <div>
          <span>Powered by Google ©2010-2019.</span>
          <a href="https://github.com/angular/components/blob/master/LICENSE"
            >Code licensed under an MIT-style License.</a
          >
          <span>Documentation licensed under CC BY 4.0.</span>
        </div>
      </div>
    </div>
  </footer>
</mat-toolbar> -->
