<!-- Footer -->
<footer class="bg-dark page-footer font-small fixed-bottom">
  <div class="container-fluid py-3">
    <div class="row footer-copyright small align-self-end">
      <div class="col-md-10">
        <a href="http://www.citigroup.com/citi/">Citigroup.com</a> is the global
        source of information about and access to financial services provided by
        the Citigroup companies.
      </div>
      <div class="col-md-2 text-right">
        Copyright © 2019 Citigroup Inc.
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
