<div class="resource-select">
  <mat-card class="box mat-elevation-z6" color="foreground">
    <mat-card-header>
      <mat-card-title>
        {{ "sirdcat.modules.resources.select.title" | translate }}
        <mat-divider></mat-divider>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>{{
          "sirdcat.modules.resources.select.label" | translate
        }}</mat-label>
        <mat-select
          panelClass="panel-selection"
          [formControl]="resourceControl"
          required
        >
          <mat-option
            >--
            {{
              "sirdcat.modules.resources.select.option.default" | translate
            }}
            --</mat-option
          >
          <mat-optgroup
            *ngFor="let group of resourceGroupsShow"
            [label]="group.type"
          >
            <mat-option
              *ngFor="let resource of group.names"
              [value]="resource.value"
            >
              {{ resource.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="resourceControl.hasError('required')">{{
          "sirdcat.modules.resources.select.error.msg" | translate
        }}</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
