@import "~@angular/material/theming";
@import "resources-select/resources-select.component";
@import "resources-upload/resources-upload.component";
@import "resources-view/resources-view.component";

@mixin resource-theme($theme) {
  @include resource-select-theme($theme);
  @include resource-upload-theme($theme);
  @include resource-view-theme($theme);

  $primary: map-get($theme, primary);
  $secundary: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .resource {
    .wrapper {
      // margin: 25px auto;
      // max-width: 600px;
      // text-align: center;
      // padding: 0 20px;
      display: flex;
      flex-direction: column;
      // min-height: 100vh;
      flex: 1;
    }
  }
}
