@import "~@angular/material/theming";
@import "./component-themes";

@include mat-core();

$primary: mat-palette($mat-blue, 500, 200, 900);
$accent: mat-palette($mat-red, A700, A100, 900);
$warn: mat-palette($mat-deep-orange, A400, A200, A700);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);

// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-blue, 800, 500, 900);
  $dark-accent: mat-palette($mat-red, A400, A100, A700);
  $dark-warn: mat-palette($mat-red, A800, A400, A900);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}
