// @import "~@angular/material/theming";
// @import "./component-themes";

// Light Colors
$light-primary: mat-palette($mat-blue, 500, 200, 900);
$light-accent: mat-palette($mat-red, A700, A100, 900);
$light-warn: mat-palette($mat-deep-orange, A400, A200, A700);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Dark Colors
$dark-primary: mat-palette($mat-blue, 800, 500, 900);
$dark-accent: mat-palette($mat-red, A400, A100, A700);
$dark-warn: mat-palette($mat-red, A800, A400, A900);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// @include angular-material-theme($light-theme);
// @include component-themes($light-theme);

// Our dark theme
// .dark-theme {
// $color: $light-primary-text;

//   @include angular-material-theme($dark-theme);
//   @include component-themes($dark-theme);
// }
