<div class="resource-select">
  <mat-card class="box mat-elevation-z6" color="foreground">
    <mat-card-header>
      <mat-card-title>
        Select Resource
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resourceForm">
        <mat-form-field class="full-width">
          <input
            type="text"
            matInput
            placeholder="Resource Group"
            formControlName="resourceGroup"
            required
            [matAutocomplete]="autoGroup"
          />
          <mat-autocomplete
            #autoGroup="matAutocomplete"
            panelWidth="auto"
            class="extended"
          >
            <mat-optgroup
              *ngFor="let group of resourceGroupOptions | async"
              [label]="group.type"
            >
              <mat-option *ngFor="let name of group.names" [value]="name">
                {{ name }}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
