<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()" *ngIf="isAuthenticated">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">SIRDCAT</h1>
  <span class="fill-remaining-space"></span>
  <button
    mat-raised-button
    color="primary"
    *ngIf="isAuthenticated"
    (click)="onLogout()"
  >
    LOGOUT
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [style.marginBottom.px]="0">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="true"
    [fixedTopGap]="mobileQuery.matches ? 56 : 65"
    role="navigation"
  >
    <!-- MODULES -->
    <mat-nav-list>
      <button
        mat-icon-button
        [matMenuTriggerFor]="modules"
        matTooltip="Modules"
        [matTooltipPosition]="positionOptions[5]"
        [matTooltipShowDelay]="500"
        [matTooltipHideDelay]="250"
      >
        <mat-icon
          svgIcon="module"
          aria-hidden="false"
          aria-label="Module icon"
        ></mat-icon>
      </button>
      <mat-menu #modules="matMenu">
        <button mat-menu-item routerLink="/balance-account">
          Balance Account
        </button>
        <button mat-menu-item routerLink="/resources">Resources</button>
        <button mat-menu-item routerLink="/views">Views</button>
        <button mat-menu-item routerLink="/workflow">Workflow</button>
        <button mat-menu-item [matMenuTriggerFor]="checker">Checker</button>
      </mat-menu>

      <mat-menu #checker="matMenu">
        <button mat-menu-item routerLink="/checker/approval">Approval</button>
        <button mat-menu-item routerLink="/checker/validation">
          Validation
        </button>
      </mat-menu>
    </mat-nav-list>
    <!-- MANAGE -->
    <mat-nav-list>
      <button
        mat-icon-button
        [matMenuTriggerFor]="manage"
        matTooltip="Manage"
        [matTooltipPosition]="positionOptions[5]"
        [matTooltipShowDelay]="500"
        [matTooltipHideDelay]="250"
      >
        <mat-icon
          svgIcon="manage"
          aria-hidden="false"
          aria-label="Manage icon"
        ></mat-icon>
      </button>
      <mat-menu #manage="matMenu">
        <button mat-menu-item>Save Data</button>
        <button mat-menu-item>Fetch Data</button>
      </mat-menu>
    </mat-nav-list>
    <mat-slide-toggle
      [checked]="isDarkTheme | async"
      (change)="toggleDarkTheme($event.checked)"
    >
      <mat-icon>brightness_medium</mat-icon>
    </mat-slide-toggle>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
