<div class="resource-start">
  <div class="wrapper">
    <div class="row">
      <div class="col l6 m12 s12">
        <mat-card class="box mat-elevation-z6" color="foreground">
          <mat-card-header>
            <mat-card-title>
              Resources
            </mat-card-title>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
      <div class="col l6 m12 s12" [ngClass]="mobileQuery.matches ? 'mt-4' : ''">
        <mat-card class="box mat-elevation-z6" color="foreground">
          <mat-card-header>
            <mat-card-title>
              Upload Resources
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submitFile()">
              <div class="row m-0">
                <div class="col l6 m12 s12">
                  <mat-form-field appearance="standard" class="full-width">
                    <mat-label>Resource File Path</mat-label>
                    <ngx-mat-file-input
                      formControlName="resource"
                      placeholder="Resource File Path"
                      required
                    ></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                    <mat-error
                      *ngIf="form.get('resource').hasError('required')"
                    >
                      Please select a file
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="my-4 col l6 m12 s12">
                  <button mat-raised-button type="submit" class="btn-block">
                    Upload Resource File
                  </button>
                </div>
              </div>
              <div class="row m-0">
                <!-- <div class="col l6 m12 s12" *ngIf="progress > 0">
                    <p>
                      Uploading file {{ file.name }} |
                      {{ file.lastModifiedDate | date }} |
                      {{ file.size | filesize }}
                    </p>
                  </div> -->

                <div class="col m12 s12" *ngIf="hasStartedUploading">
                  <mat-progress-bar
                    [mode]="
                      !inQuery && progress === 0 ? 'query' : 'determinate'
                    "
                    value="{{ progress }}"
                    color="accent"
                    class="my-6"
                  ></mat-progress-bar>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <mat-card class="box mat-elevation-z6" color="foreground">
          <mat-card-header>
            <mat-card-title>
              File
            </mat-card-title>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- Drop Example
  <mat-tab-group *ngIf="false">
    <mat-tab label="Reordering lists">
      <div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)">
        <div class="file-block" *ngFor="let fileName of files" cdkDrag>
          {{ fileName }}
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Transfer Items Between Lists">
      <div class="container">
        <h2>Files</h2>
        <div
          cdkDropList
          #fileList="cdkDropList"
          [cdkDropListData]="filesList"
          [cdkDropListConnectedTo]="[donefileList]"
          class="file-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div class="file-block" *ngFor="let fileList of filesList" cdkDrag>
            {{ fileList }}
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Files Selected</h2>
        <div
          cdkDropList
          #donefileList="cdkDropList"
          [cdkDropListData]="filesSelected"
          [cdkDropListConnectedTo]="[fileList]"
          class="file-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div
            class="file-block"
            *ngFor="let fileSelected of filesSelected"
            cdkDrag
          >
            {{ fileSelected }}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
-->
