<h1>Resources</h1>
<div class="wrapper">
  <div *ngIf="response">
    <p>{{ response }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submitFile()">
    <!-- <input type="file" name="resource" (change)="onChange($event)" /> -->

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Resource File Path</mat-label>
          <ngx-mat-file-input
            formControlName="resource"
            placeholder="Resource File Path"
            required
          ></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="form.get('resource').hasError('required')">
            Please select a file
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <button mat-raised-button type="submit">
          Upload Resource File
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="2" *ngIf="progress > 0">
        <p>
          Uploading file {{ file.name }} | {{ file.lastModifiedDate | date }} |
          {{ file.size | filesize }}
        </p>
        <mat-progress-bar
          mode="determinate"
          value="{{ progress }}"
        ></mat-progress-bar>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <!-- <mat-tab-group *ngIf="false">
    <mat-tab label="Reordering lists">
      <div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)">
        <div class="file-block" *ngFor="let fileName of files" cdkDrag>
          {{ fileName }}
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Transfer Items Between Lists">
      <div class="container">
        <h2>Files</h2>
        <div
          cdkDropList
          #fileList="cdkDropList"
          [cdkDropListData]="filesList"
          [cdkDropListConnectedTo]="[donefileList]"
          class="file-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div class="file-block" *ngFor="let fileList of filesList" cdkDrag>
            {{ fileList }}
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Files Selected</h2>
        <div
          cdkDropList
          #donefileList="cdkDropList"
          [cdkDropListData]="filesSelected"
          [cdkDropListConnectedTo]="[fileList]"
          class="file-list"
          (cdkDropListDropped)="onDrop($event)"
        >
          <div
            class="file-block"
            *ngFor="let fileSelected of filesSelected"
            cdkDrag
          >
            {{ fileSelected }}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group> -->
</div>
