@import "~@angular/material/theming";

@mixin resource-view-theme($theme) {
  // @include mat-table-columns(
  //   (
  //     P8NOTE: (
  //       width: 6rem,
  //       color: gray,
  //       padding: 1rem
  //     )
  //   )
  // );

  $primary: map-get($theme, primary);
  $secondary: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .resource-view {
    mat-card-header {
      text-align: center;
      width: 100%;
      display: block;
      font-weight: 700;
    }

    // mat-card-header mat-card-title {
    //   font-size: 30px;
    //   margin: 0;
    // }

    mat-card {
      padding: 40px 70px 50px;
    }

    .table-container {
      max-height: calc(80vh - 155px);
      // height: 400px;
      width: 50vw;
      overflow: auto;
    }

    .mat-row {
      height: auto;
    }

    .mat-cell {
      padding: 10px 10px 10px 0;
    }

    table {
      width: 100%;
    }

    .mat-column {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 28% !important;
      width: 28% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;

      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    td.mat-column-star {
      width: 20px;
      padding-right: 8px;
    }

    .box {
      position: relative;
      top: 0;
      opacity: 1;
      float: left;
      // padding: 60px 50px 40px 50px;
      width: 100%;
      background: mat-color($secondary);
      border-radius: 5px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      z-index: 5;
      // max-width: 330px;
    }

    .full-width,
    .btn-block {
      width: 100%;
      margin: 5px 0 5px 0;
    }
  }
}
